<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>            	
                <!-- local -->
            	<value>classpath:config/prop/local/local.akbpfpSystem.properties</value>
            	<value>classpath:config/prop/local/local.billing.product.properties</value>
                <value>classpath:config/prop/local/local.jdbc.properties</value>
                <value>classpath:config/prop/local/local.rmi.properties</value>
                <value>classpath:config/prop/local/local.server.properties</value>
                <value>classpath:config/prop/local/local.buInfo.properties</value>
                <value>classpath:config/prop/local/local.redis.properties</value>
            </list>
        </property>
    </bean>
</beans>