@charset "utf-8";

/***** 2018/02/21  *******/
.addN-container{
    display: -webkit-flex;
    display: flex;
    flex-grow: 1;
	background: #e5e3de;
	background: -moz-linear-gradient(top, #e5e3de 18%, #f4f2ee 65%);
	background: -webkit-linear-gradient(top, #e5e3de 18%,#f4f2ee 65%);
	background: linear-gradient(to bottom, #e5e3de 18%,#f4f2ee 65%);
}

.addN-card-piece.selected-stat,.addN-card-piece.selected-stat:hover{
    color: #fff; 
    background: #ff6600;cursor:default;
}

.addN-card-piece{
	background: #ffffff;
	background: -moz-linear-gradient(top, #e0dedb 0%, #ffffff 67%);
	background: -webkit-linear-gradient(top, #e0dedb 0%,#ffffff 67%);
	background: linear-gradient(to bottom, #e0dedb 0%,#ffffff 67%);
    border-bottom: 1px #dbdad6 solid;
    border-right: 1px #dbdad6 solid;
    box-sizing: border-box;
    cursor: pointer;
    height: 51px;
    margin-top: 1px;
    margin-bottom: 8px;
    margin-left: 1px;
    position: relative;
    text-align: left;
    width: 133px;
    text-align: center;
    top: 9px;
    left: 9px;
}

.addN-card-piece:first-child{border-left: 1px #dbdad6 solid;}

.addN-card-piece .tag{padding: 15px 0;font-size: 16px;}

.addN-card-piece:hover{background:#db0000; color: #fff}

.ultext {
    height: 51px;
    position: relative;
    text-align: left;
    text-align: center;
    top: 33px;
    color: #777;
    left: 29px;
}

.apply-element-txt{padding: 13px 6px 6px 6px;float: left;font-size: 15px;line-height: 25px;}

.apply-element-txt b{color: #1d5ed6;}
/*** 2018/02/21 *****/

/*** 廣告預覽表格樣式2 ***/
.tableManager {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 10pt;
    width: 100%;
    text-align: center;
}
table.tableManager thead tr th{  
    padding: 4px 18px 4px 4px;
    white-space: normal;
    background-color:#eee;user-select: none
}
.tableManager tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
}
.ad-mod{position: relative;}
.mod-button{position:absolute;right: 0;top: 0}
.mod-button.ps{right: 3px;top:3px}
.ad-mod-hide{display: none}
.price_wd{ min-width: 120px}
/*****************/