@charset "utf-8";
div.dialog { 	
	color: red;
	display: block;	
	text-align:left;
}

form.cmxform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
}