<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>                
                <!-- stg -->
            	<value>classpath:config/prop/stg/stg.akbpfpSystem.properties</value>
            	<value>classpath:config/prop/stg/stg.billing.product.properties</value>
                <value>classpath:config/prop/stg/stg.jdbc.properties</value>
                <value>classpath:config/prop/stg/stg.rmi.properties</value>
                <value>classpath:config/prop/stg/stg.server.properties</value>
                <value>classpath:config/prop/stg/stg.buInfo.properties</value>
                <value>classpath:config/prop/stg/stg.redis.properties</value>
            </list>
        </property>
    </bean>
</beans>