<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <bean id="AdActionMsgAction" class="com.pchome.akbpfp.struts2.action.msg.AdActionMsgAction" scope="prototype" />
    
    <bean id="AdGroupMsgAction" class="com.pchome.akbpfp.struts2.action.msg.AdGroupMsgAction" scope="prototype" >
    	<property name="pfpAdGroupService" ref="PfpAdGroupService" />
    	<property name="pfpAdSyspriceService" ref="PfpAdSyspriceService" />
	    <property name="syspriceOperaterAPI" ref="SyspriceOperaterAPI" />
	    <property name="adPoolSeq" value="${ad.sysprice.adPoolSeq}" />
    </bean>
    
    <bean id="AdKeywordMsgAction" class="com.pchome.akbpfp.struts2.action.msg.AdKeywordMsgAction" scope="prototype" />
    
    <bean id="AdExcludeKeywordAction" class="com.pchome.akbpfp.struts2.action.msg.AdExcludeKeywordAction" scope="prototype" >
	    <property name="pfpAdGroupService" ref="PfpAdGroupService" />
	    <property name="pfpAdExcludeKeywordService" ref="PfpAdExcludeKeywordService" />
    </bean>
    
    <bean id="AdAdMsgAction" class="com.pchome.akbpfp.struts2.action.msg.AdAdMsgAction" scope="prototype" />

    <bean id="AccountMsgAction" class="com.pchome.akbpfp.struts2.action.msg.AccountMsgAction" scope="prototype" />
    

</beans>
