<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
        <property name="definitions">
            <list>
            	<value>classpath:config/tiles2/tiles-account.xml</value>
            	<value>classpath:config/tiles2/tiles-ad.xml</value>            	
            	<value>classpath:config/tiles2/tiles-api.xml</value>
            	<value>classpath:config/tiles2/tiles-apply.xml</value>
                <value>classpath:config/tiles2/tiles-base.xml</value>
                <value>classpath:config/tiles2/tiles-bill.xml</value>
                <value>classpath:config/tiles2/tiles-board.xml</value>
                <value>classpath:config/tiles2/tiles-clause.xml</value>
                <value>classpath:config/tiles2/tiles-index.xml</value>
                <value>classpath:config/tiles2/tiles-manager.xml</value>
                <value>classpath:config/tiles2/tiles-msg.xml</value>
                <value>classpath:config/tiles2/tiles-report.xml</value>
                <value>classpath:config/tiles2/tiles-summary.xml</value>        
                <value>classpath:config/tiles2/tiles-catalog.xml</value>        
            </list>
        </property>
    </bean>
</beans>