<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <!-- 
    <bean id="aadAddProcess" class="com.pchome.akbpfp.factory.ad.AadAddProcess" scope="prototype" >
   		<property name="adDoAddMediaProcess" ref="adDoAddMediaProcess" />
    </bean>
     
    
    <bean id="adDoAddMediaProcess" class="com.pchome.akbpfp.struts2.action.ad.AdDoAddMediaProcess" scope="prototype" >
    	<property name="pfpOrderService" ref="PfpOrderService" />
    </bean>-->
    
     <!-- 商品群組、清單-->
    <bean id="ProdGroupFactory" class="com.pchome.akbpfp.catalog.prodGroup.factory.ProdGroupFactory" scope="prototype" >
   		<property name="ecProdGroup" ref="EcProdGroup" />
   		<property name="BookingProdGroup" ref="BookingProdGroup" />
    </bean>
    
     <bean id="EcProdGroup" class="com.pchome.akbpfp.catalog.prodGroup.factory.EcProdGroup" scope="prototype" >
   		<property name="pfpCatalogProdEcService" ref="PfpCatalogProdEcService" />
   		<property name="pfpCatalogGroupItemService" ref="PfpCatalogGroupItemService" />
     </bean>
     
     <bean id="BookingProdGroup" class="com.pchome.akbpfp.catalog.prodGroup.factory.BookingProdGroup" scope="prototype" >
   		<property name="pfpCatalogGroupItemService" ref="PfpCatalogGroupItemService" />
     </bean>
     
     <bean id="ProdListFactory" class="com.pchome.akbpfp.catalog.prodList.factory.ProdListFactory" scope="prototype" >
   		<property name="ecProdList" ref="EcProdList" />
     </bean>
     
      <bean id="EcProdList" class="com.pchome.akbpfp.catalog.prodList.factory.EcProdList" scope="prototype" >
   		<property name="pfpCatalogProdEcService" ref="PfpCatalogProdEcService" />
     </bean>
     
     <!-- 商品群組、清單END-->
     
	<!-- 廣告行為工廠 START -->
    <bean id="AdFactory" class="com.pchome.akbpfp.struts2.action.factory.ad.AdFactory">
    	<property name="multimediaAd" ref="MultimediaAd" />
    	<property name="prodAd" ref="ProdAd" />
    	<property name="videoAd" ref="VideoAd" />
    </bean>
    <bean id="MultimediaAd" class="com.pchome.akbpfp.struts2.action.factory.ad.MultimediaAd" scope="prototype"/>
    
    <bean id="ProdAd" class="com.pchome.akbpfp.struts2.action.factory.ad.ProdAd" scope="prototype"  >
    	<property name="pfpCatalogService" ref="PfpCatalogService" />
    	<property name="pfpCatalogLogoService" ref="PfpCatalogLogoService" />
    	<property name="pfpCatalogSetupService" ref="PfpCatalogSetupService" />
    	<property name="admTemplateProductService" ref="AdmTemplateProductService" />
    	<property name="photoClonePath" value="${photo.clone.path}" />
    </bean>
    
    <bean id="VideoAd" class="com.pchome.akbpfp.struts2.action.factory.ad.VideoAd" scope="prototype"  />
    <!-- 廣告行為工廠 END -->
    
    <!-- 商品廣告-檔案上傳(一般購物類) -->
<!--     <bean id="ShoppingProd" class="com.pchome.akbpfp.db.service.catalog.uploadList.ShoppingProd"> -->
<!--     	<property name="akbPfpServer" value="${akbpfp.server}" /> -->
<!--     	<property name="photoDbPathNew" value="${photo.db.path.new}" /> -->
<!--         <property name="pfpCatalogUploadListDAO" ref="PfpCatalogUploadListDAO" /> -->
<!--         <property name="pfpCatalogService" ref="PfpCatalogService" /> -->
<!--         <property name="sequenceService" ref="SequenceService" /> -->
<!--     </bean> -->
    
    
<!-- 
    <bean id="OrderCost" class="com.pchome.akbpfp.factory.bill.OrderCost" scope="prototype" >
   		<property name="pfpOrderService" ref="PfpOrderService" />
    </bean>
    
   	<bean id="AdClickCost" class="com.pchome.akbpfp.factory.bill.AdClickCost" scope="prototype" >
   		<property name="pfpAdPvclkService" ref="PfpAdPvclkService" />
    </bean>
   
    <bean id="TransDetailFactory" class="com.pchome.akbpfp.factory.bill.TransDetailFactory" scope="prototype" >
    	<property name="pfpCustomerInfoService" ref="PfpCustomerInfoService" />
    	<property name="pfptransDetailService" ref="PfpTransDetailService" />
    	<property name="orderCost" ref="OrderCost" />
    	<property name="adClickCost" ref="AdClickCost" />
    </bean>
-->    
    
    
</beans>
