<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
        
	<bean id="PfpCustomerInfoDAO" class="com.pchome.akbpfp.db.dao.customerInfo.PfpCustomerInfoDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="PfpOrderDAO" class="com.pchome.akbpfp.db.dao.order.PfpOrderDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
   	<bean id="PfpOrderDetailDAO" class="com.pchome.akbpfp.db.dao.order.PfpOrderDetailDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="SequenceDAO" class="com.pchome.akbpfp.db.dao.sequence.SequenceDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
   
    <bean id="PfpUserDAO" class="com.pchome.akbpfp.db.dao.user.PfpUserDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="PfpUserMemberRefDAO" class="com.pchome.akbpfp.db.dao.user.PfpUserMemberRefDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
   <bean id="PfdUserMemberRefDAO" class="com.pchome.akbpfd.db.dao.user.PfdUserMemberRefDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    
    <bean id="PfpPrivilegeModelDAO" class="com.pchome.akbpfp.db.dao.privilege.PfpPrivilegeModelDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="PfpPrivilegeModelMenuRefDAO" class="com.pchome.akbpfp.db.dao.privilege.PfpPrivilegeModelMenuRefDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="PfpMenuDAO" class="com.pchome.akbpfp.db.dao.menu.PfpMenuDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="AdmAccesslogDAO" class="com.pchome.akbpfp.db.dao.accesslog.AdmAccesslogDAO">
    	<property name="accesslogProvider" ref="AccesslogProviderProxy" />
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="PfpBoardDAO" class="com.pchome.akbpfp.db.dao.board.PfpBoardDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="PfdBoardDAO" class="com.pchome.akbpfp.db.dao.board.PfdBoardDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

	<!-- pfb Size -->
	<bean id="PfbxSizeDAO" class="com.pchome.akbpfp.db.dao.pfbx.PfbxSizeDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- report -->
    <bean id="AdActionReportDAO" class="com.pchome.akbpfp.db.dao.report.AdActionReportDAO">
        <property name="sessionFactory" ref="sessionFactory_report" />
    </bean>
    
    <bean id="AdGroupReportDAO" class="com.pchome.akbpfp.db.dao.report.AdGroupReportDAO">
        <property name="sessionFactory" ref="sessionFactory_report" />
    </bean>
    
    <bean id="AdKeywordReportDAO" class="com.pchome.akbpfp.db.dao.report.AdKeywordReportDAO">
        <property name="sessionFactory" ref="sessionFactory_report" />
    </bean>

	<bean id="AdReportDAO" class="com.pchome.akbpfp.db.dao.report.AdReportDAO">
        <property name="sessionFactory" ref="sessionFactory_report" />
    </bean>

	<bean id="AdOsReportDAO" class="com.pchome.akbpfp.db.dao.report.AdOsReportDAO">
        <property name="sessionFactory" ref="sessionFactory_report" />
    </bean>
    
    <bean id="AdTimeReportDAO" class="com.pchome.akbpfp.db.dao.report.AdTimeReportDAO">
        <property name="sessionFactory" ref="sessionFactory_report" />
    </bean>
    
    <bean id="AdAgesexReportDAO" class="com.pchome.akbpfp.db.dao.report.AdAgesexReportDAO">
        <property name="sessionFactory" ref="sessionFactory_report" />
    </bean>

    <!-- Adm -->
    <bean id="AdmFreeActionDAO" class="com.pchome.akbpfp.db.dao.freeAction.AdmFreeActionDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="AdmRecognizeRecordDAO" class="com.pchome.akbpfp.db.dao.recognize.AdmRecognizeRecordDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- AD -->
    <bean id="PfpAdDAO" class="com.pchome.akbpfp.db.dao.ad.PfpAdDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="PfpAdActionDAO" class="com.pchome.akbpfp.db.dao.ad.PfpAdActionDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="PfpAdDetailDAO" class="com.pchome.akbpfp.db.dao.ad.PfpAdDetailDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="PfpAdExcludeKeywordDAO" class="com.pchome.akbpfp.db.dao.ad.PfpAdExcludeKeywordDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="PfpAdGroupDAO" class="com.pchome.akbpfp.db.dao.ad.PfpAdGroupDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="PfpAdKeywordDAO" class="com.pchome.akbpfp.db.dao.ad.PfpAdKeywordDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="PfpAdKeywordPvclkDAO" class="com.pchome.akbpfp.db.dao.ad.PfpAdKeywordPvclkDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="PfpAdPvclkDAO" class="com.pchome.akbpfp.db.dao.ad.PfpAdPvclkDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="PfpAdGiftDAO" class="com.pchome.akbpfp.db.dao.ad.PfpAdGiftDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="AdmDefineAdDAO" class="com.pchome.akbpfp.db.dao.ad.AdmDefineAdDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <bean id="PfpTransDetailDAO" class="com.pchome.akbpfp.db.dao.bill.PfpTransDetailDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="PfpAdSyspriceDAO" class="com.pchome.akbpfp.db.dao.sysprice.PfpAdSyspriceDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>    

    <bean id="PfpKeywordSyspriceDAO" class="com.pchome.akbpfp.db.dao.sysprice.PfpKeywordSyspriceDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>  

    <bean id="PfpSyspriceRateDAO" class="com.pchome.akbpfp.db.dao.sysprice.PfpSyspriceRateDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>  
	
	<bean id="PfpAdRateDAO" class="com.pchome.akbpfp.db.dao.ad.PfpAdRateDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="PfpAdInvalidDAO" class="com.pchome.akbpfp.db.dao.ad.PfpAdInvalidDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="PfpChannelAdminDAO" class="com.pchome.akbpfp.db.dao.admin.PfpChannelAdminDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="PfdUserAdAccountRefDAO" class="com.pchome.akbpfp.db.dao.pfd.user.PfdUserAdAccountRefDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
  
    <bean id="AdmFreeGiftDAO" class="com.pchome.akbpfp.db.dao.freeAction.AdmFreeGiftDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>  
    
    <bean id="AdmFreeRecordDAO" class="com.pchome.akbpfp.db.dao.freeAction.AdmFreeRecordDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>  
    
    <bean id="AdmManagerDetailDAO" class="com.pchome.akbpfp.db.dao.manager.AdmManagerDetailDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="AdmChannelAccountDAO" class="com.pchome.akbpfp.db.dao.adm.channel.AdmChannelAccountDAO">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
</beans>
