<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
            	<!-- prd -->
            	<value>classpath:config/prop/prd/prd.akbpfpSystem.properties</value>
            	<value>classpath:config/prop/prd/prd.billing.product.properties</value>
                <value>classpath:config/prop/prd/prd.jdbc.properties</value>
                <value>classpath:config/prop/prd/prd.rmi.properties</value>
                <value>classpath:config/prop/prd/prd.server.properties</value>                   		
            </list>
        </property>
    </bean>
</beans>