@charset "UTF-8";

body{font:400 15px Lato,sans-serif,'微軟正黑體';line-height:1.8;color:#fff;background-color:#000;}
h2{font-size:50px;color:#fe682d;line-height:1.5em;}
h3{font-size:35px;color:#fe682d;line-height:1.2em;}
h5{font-size:18px;}
a{ -webkit-transition: 0.3s;-moz-transition: 0.3s;-ms-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
a:focus, a:hover{ text-decoration: none; }

/*h2{font-size:24px;text-transform:uppercase;color:#303030;font-weight:600;margin-bottom:30px}*/


.contentbox{position:absolute;z-index:2;top:100%;width:100%;}
.container-fluid{padding:100px 30px}
.bg-grey{background-color:#f6f6f6}
.subject{font-size:18px;padding-bottom:4px;border-bottom:3px solid #fff;color:#fff;}


/*導覽列*/
.navbar{margin-bottom:0;background-color:#fff;z-index:9999;border:0;font-size:18px!important;line-height:1.42857143!important;letter-spacing:1px;border-radius:0;font-weight:700}
.navbar .navbar-brand,.navbar li a{color:#131313!important}
.navbar-brand {padding:2px 0 0 0;}
.navbar-nav li a:hover,.navbar-nav li.active a{color:#fff!important;background-color:#f4511e!important}
.navbar-default .navbar-toggle{border-color:transparent;color:#fff!important}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{ margin: 0; }


.login {
    position:absolute;
    right:10px;
    color: #5D5D5D;
    /*float: right;*/
    font-size: 12px;
    line-height: 50px;
    padding-top: 0;
}

@media screen and (min-width:768px) and (max-width: 1024px){
    .navbar {
        letter-spacing: 0px;
        font-size: 16px !important;
    }
    
    .navbar li a{
        padding-left:10px;
        padding-right:10px;
    }

}
.nopadding{padding:0px 10px!important;}

/*!!!! change nav menu breakpoint ex:for ipad*/
@media (max-width: 900px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

/*!!!! change nav menu login info breakpoint*/
@media (max-width:900px){
    .login {/*right:70px;*/bottom:0px;}
}


/*視訊背景*/
.videobg{position:fixed;z-index:1;width:100%;height:100%;background-color:#131313;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/videobg.jpg', sizingMethod='scale');-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader( src='img/videobg.jpg', sizingMethod='scale')"}
.videobg::before{content:"";background:url(../img/dot.png);top:0;left:0;bottom:0;right:0;position:absolute;z-index:11;width:100%;height:100%;}
.photobg{width:100%;height:100%}
.photobg img{position:absolute;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);top:50%;left:50%;min-width:100%;min-height:100%;object-fit:cover}




#videolayer{
    width: 100%;
    height: 100%;
    background-color: rgba(81, 150, 191, 0.60);
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    background: url("../img/videobg.jpg") no-repeat center center;
    background-size: cover;
}


.hide-in-mobile{display:block}
@media (max-width:47.9em){.hide-in-mobile{display:none}}

.show-in-mobile{display:none}
@media (max-width:47.9em){.show-in-mobile{display:block}}

.title {
    color: #fff;
    padding: 100px 25px;
    position: absolute;    
    top:0;
    z-index:2;
    width:100%;
    height:100%;
}



/*標題*/
.title >table{
    width:100%;
    height:100%;
}

.title h1{color:#fe682d;font-size:9em;font-weight:normal;text-shadow: 5px 5px 5px rgba(0, 0, 0, .3); margin: 10px 0;}
.title p{/*font-size:1.5625em;*/ font-size: 18px; line-height: 1.5em; padding: 0;}
.title p span{padding:0 5px;letter-spacing:2px}



.title h4{font-size:1.5625em;color:#fff;font-weight:400;/*line-height:3.125em;*/ letter-spacing: 1px;}
.title h4 span{font-size:1.25em;}
.title h4 em{vertical-align:middle;padding:0 5px;font-size:2.1875em;font-style:normal;}

.title .buybtn{display:block;margin:auto;background-color:#fe682d;color:#fff;text-align:center;}
.title .buybtn{border-radius:5px;box-shadow: 5px 5px 5px rgba(0, 0, 0, .15);}
.title .buybtn{width:16em;height:2.5625em;margin-top:1em;line-height:2.5625em;font-size:1.5625em;position:relative;z-index:2;}
.title .buybtn:hover{text-decoration:none;color:#fff;}
.title .buybtn span{line-height:2.5625em;vertical-align:top}
.title .buybtn::before{content:"";position:absolute;top:43px;left:-84px;z-index:1;width:54px;height:84px;background-image:url(../img/titleiconl.png);background-size:100%}
.title .buybtn::after{content:"";position:absolute;top:43px;right:-97px;z-index:1;width:67px;height:84px;background-image:url(../img/titleiconr.png);background-size:100%}

.title .buybtn:hover{ border-radius: 1.5625em; }

@media (max-width:47.9em){
    .title >table{font-size:2vw;}
    .title h1{font-size:7em;text-shadow: 3px 3px 3px rgba(0, 0, 0, .3);}
    .title p{/*font-size:2.5em;*/}
    .title p span{padding:0 2px;}
    .title .buybtn,.title h4{ font-size: 2.5em; }    
    .title .buybtn::before,.title .buybtn::after{display:none;} 
    h3{ line-height: 1.38em; font-size: 2.04em; }
    .titlogo{ width: 35vw; } 
}


.title{ position: fixed; top: 0; }





/*刊登秘訣*/
.stepbox{padding-top:100px;padding-bottom:60px;max-width:1200px;margin:auto;}
.stepbox .stepicon{width:200px;height:200px;border:1px solid #fff;border-radius:100px;margin:auto;position:relative;}
.stepbox .stepicon img{position:absolute;top:0;left:0; width: 100%;}
.stepbox h3{padding:20px 0 10px 0;width:90%;margin:auto;}
.stepbox h5{line-height:1.5em;width:80%;margin:auto;}
.stepbox .glyphicon{font-size:30px;-webkit-transform: scaleY(1.2);-moz-transform: scaleY(1.2);}
.stepbox .glyphicon-menu-right{float:right;line-height:200px;margin-right:-30px;visibility:visible;}
.stepbox .glyphicon-menu-right:before{font-size: 0.84em;}
.stepbox .glyphicon-menu-down{display:block;line-height:100px;visibility:hidden;}
@media (max-width:47.9em){
    .stepbox{ padding-top:5em;  }
    .stepbox .glyphicon-menu-right{visibility:hidden;}
    .stepbox .glyphicon-menu-down{visibility:visible;}
    .stepbox .stepicon{ width: 35vw; height: 35vw; }
}


/*全站曝光*/
.impression{background-image:url(../img/impressionbg.jpg);background-position:center top;background-size:cover}
.impression h3{padding-top:60px;}
.impression h5{line-height:1.5em;padding-top:30px;}
.impression h5 span{font-size:15px;line-height:1.5em;padding:0 2px;color:#fe682d;font-weight:bold;}
.impression .row1 img{padding-top:15px;display:block;margin:auto;}
.impression .row2 img{padding-top:0;}
.impression .row2 p{font-size:18px;margin-bottom:0px;padding-top:15px;padding-bottom:10px;line-height:26px;}
.impression .row2 p::before{content:'';font-size:18px;padding:3px 10px 7px 10px;vertical-align:top;background-color:#fe682d;margin-right:10px;border-radius:40px;}
.impression .row2 p.lft::before{content:'1';}
.impression .row2 p.rht::before{content:'2';}
.impression .row3 .col-sm-12{padding-bottom:30px;}
.impression .row3 img{margin:3px 3px 0 0;}
.impression .row3>span{font-size:18px;letter-spacing: 1px}

@media (max-width:69em){
    .impression .row1 img{width:100%;}
    .impression .row2 img{width:100%;}
}
@media (max-width:47.9em){
    .impression .row3 img {width:30%;}
    .impression{background-position:right top;}
}


/*全站曝光*/
.payment{background-image:url(../img/paymentbg.jpg);background-position:center top;background-size:cover;}
.payment .subject{color:#131313; border-color:#131313;}
.payment .paymentbox{padding-top:50px;max-width:1024px;margin:auto;}
.paymentbox>div::before{content:"";background-color:rgba(24, 24, 24, .85);top:0;left:0;bottom:0;right:0;position:absolute;z-index:1;width:99.5%;height:100%;}
.paymentbox .box{width:100%;height:100%;padding:40px 5% 20px 5%;position:relative;z-index:2;height:390px;}
.paymentbox .box p{font-size:18px;line-height:30px;text-align:left}
.payment .howto{max-width:1024px;margin:auto;border:1px solid #c0c0c0;margin-top:50px;}
.howto>div::before{content:"";background-color:rgba(255, 255, 255, .60);top:0;left:0;bottom:0;right:0;position:absolute;z-index:1;width:100%;height:100%;}
.howtobox{width:100%;height:100%;padding:50px;position:relative;z-index:2;}
.howtobox p{font-size:18px;color:#2b2b2b;padding-top:10px;max-width:726px;margin:auto;}
.howtobox p span{color:#fe682d;}

@media (max-width:58em){
    .paymentbox .box h3{font-size:30px;}
    .paymentbox .box{padding:30px 2%;height:365px;}
    .paymentbox .box p{font-size:16px;line-height:24px;}
}

@media (max-width:30em){
    .paymentbox .box h3{font-size:30px;}
    .paymentbox .box{padding:30px 2%;height:auto;}
    .paymentbox .box p{font-size:16px;line-height:24px;}
    .howtobox{padding:25px 10px 40px 10px;}
    .howtobox p{font-size:16px;}
}


/*廣告優勢*/
.advantage {background-image:url(../img/advantagebg.jpg);background-position:center top;background-size:cover;}
.advantage .subject{color:#131313; border-color:#131313;}
.advantage .row{max-width:1100px;margin:auto;}
.advantage .row>div{padding:0px 20px 0px 40px;}
.advantage h3{color:#131313;border-bottom:1px solid #fe682d;padding-left:15px;position:relative;margin-bottom:20px;}
.advantage h3::before{content:"";display:block;width:10px;height:10px;border-radius:10px;background-color:#fe682d;position:absolute;bottom:-5px;left:0;z-index:1;}
.advantage h3 em{position:absolute;top:-15px;left:0px;z-index:1;color:#fe682d;font-size:60px;line-height:95px;text-indent:-45px;}
.advantage p{color:#131313;font-size:18px;line-height:24px;padding-left:30px;position:relative;}
.advantage p::before{content:"●";position:absolute;top:0;left:13px;z-index:1;}

.advantage .buybtn{display:block;margin:auto;background-color:#fe682d;font-size:35px;line-height:94px;color:#fff;text-align:center;width:490px;height:94px;margin-top:50px;}
.advantage .buybtn{border-radius:10px;box-shadow: 5px 5px 5px rgba(0, 0, 0, .15);}
.advantage .buybtn:hover{text-decoration:none;color:#fff; border-radius: 50px;}
.advantage .buybtn span{line-height:94px;vertical-align:top}


@media (max-width:35em){
  .advantage .buybtn{font-size:6.8vw;line-height:18vw;width:80vw;height:18vw;margin-top:9.5vw;}
  .advantage .buybtn span{line-height:18vw;}
  h2{ font-size: 2.1em; line-height: 1.5em }
  .advantage h3 em{ font-size: 45px; font-weight: normal; text-indent:-40px; }
  .advantage h3{ font-size: 1.98em;  margin-bottom: 10px; /*line-height: 1.5em*/}

}





footer{background-color:#fff;padding:50px!important;color:#717171;font-size:12px;font-weight:normal;position:relative;border-top:1px solid #c4c4c4;}
footer .gotop{width:56px;height:56px;background-color:#000;position:absolute;top:-28px;left:50%;margin-left:-28px;color:#fff;padding-top:12px;line-height:13px;text-decoration:none;}
footer .gotop:hover{color:#cecece;}

@media (max-width:47.9em){
    footer .gotop{/*display:none;*/}
}


/*animation*/
.slideanim {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}
