<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="MailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
  		<property name="host" value="${mail.server}" />
	</bean>

	<!-- this is a template message that we can pre-load with default state -->
	<bean id="TemplateMessage" class="org.springframework.mail.SimpleMailMessage" />
  	
	<bean id="SpringEmailUtil" class="com.pchome.soft.util.SpringEmailUtil">
  		<property name="mailSender" ref="MailSender" />
  		<property name="templateMessage" ref="TemplateMessage" />
	</bean>
	
</beans>