<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!-- apply ajax -->
    <bean id="ApplyAjax" class="com.pchome.akbpfp.struts2.ajax.apply.ApplyAjax" scope="prototype" >
    	<property name="admFreeGiftService" ref="AdmFreeGiftService" />
    	<property name="pfpCustomerInfoService" ref="PfpCustomerInfoService" />
    	<property name="admFreeRecordService" ref="AdmFreeRecordService" />
    </bean>
    
    <!-- apply ajax -->
    <bean id="AccountAjax" class="com.pchome.akbpfp.struts2.ajax.account.AccountAjax" scope="prototype" >
    	<property name="admFreeGiftService" ref="AdmFreeGiftService" />
    	<property name="admFreeRecordService" ref="AdmFreeRecordService" />
    </bean>
    
    <!-- account user ajax -->
    <bean id="AccountUserAjax" class="com.pchome.akbpfp.struts2.ajax.account.AccountUserAjax" scope="prototype" >
    	<property name="memberAPI" ref="MemberAPI" />
    	<property name="inviteMailAPI" ref="InviteMailAPI" />
    	<property name="pfpUserMemberRefService" ref="PfpUserMemberRefService" />
    	<property name="pfpUserService" ref="PfpUserService" />
    	<property name="akbPfpServer" value="${akbpfp.server}" />
    </bean>
    
    <!-- summary ajax -->
    <bean id="SummaryAjax" class="com.pchome.akbpfp.struts2.ajax.summary.SummaryAjax" scope="prototype" >
    	<property name="pfpAdPvclkService" ref="PfpAdPvclkService" />
    	<property name="pfpAdDetailService" ref="PfpAdDetailService" />
    </bean>
     
    <!-- board ajax -->
    <bean id="BoardAjax" class="com.pchome.akbpfp.struts2.ajax.board.BoardAjax" scope="prototype" >
    	<property name="pfpBoardService" ref="PfpBoardService" />
    	<property name="pfpAdService" ref="PfpAdService" />
    	<property name="pfpCustomerInfoService" ref="PfpCustomerInfoService" />
    </bean>
    
    <!-- bill ajax -->
    <bean id="BillAjax" class="com.pchome.akbpfp.struts2.ajax.bill.BillAjax" scope="prototype" >
    	<property name="pfpTransDetailService" ref="PfpTransDetailService" />
    	<property name="pfpCustomerInfoService" ref="PfpCustomerInfoService" />
    	<property name="admFreeRecordService" ref="AdmFreeRecordService" />
    </bean>

	<!-- ad ajax -->
    <bean id="AdGroupAjax" class="com.pchome.akbpfp.struts2.ajax.ad.AdGroupAjax" scope="prototype" >
    	<property name="pfpAdGroupService" ref="PfpAdGroupService" />
     	<property name="syspriceOperaterAPI" ref="SyspriceOperaterAPI" />
    </bean>

    <bean id="AdKeywordAddAjax" class="com.pchome.akbpfp.struts2.ajax.ad.AdKeywordAddAjax" scope="prototype" >
		<property name="sequenceService" ref="SequenceService" />
    	<property name="pfpAdGroupService" ref="PfpAdGroupService" /> 
    	<property name="pfpAdKeywordService" ref="PfpAdKeywordService" />
    </bean>

    <bean id="AdExcludeKeywordAddAjax" class="com.pchome.akbpfp.struts2.ajax.ad.AdExcludeKeywordAddAjax" scope="prototype" >
		<property name="sequenceService" ref="SequenceService" />
    	<property name="pfpAdGroupService" ref="PfpAdGroupService" /> 
    	<property name="pfpAdExcludeKeywordService" ref="PfpAdExcludeKeywordService" />
    </bean>

    <bean id="AdUtilAjax" class="com.pchome.akbpfp.struts2.ajax.ad.AdUtilAjax" scope="prototype" >
    	<property name="akbPfpServer" value="${akbpfp.server}" />
    </bean>

    <!-- adAction ajax -->
    <bean id="AdActionAjax" class="com.pchome.akbpfp.struts2.ajax.ad.AdActionAjax" scope="prototype" >
    	<property name="pfpCustomerInfoService" ref="PfpCustomerInfoService" />
    	<property name="pfpAdActionService" ref="PfpAdActionService" />
    	<property name="pfbxWebsiteCategoryService" ref="PfbxWebsiteCategoryService" />
    </bean>
    
    <bean id="AdActionViewAjax" class="com.pchome.akbpfp.struts2.ajax.ad.AdActionViewAjax" scope="prototype" >
    	<property name="pfpAdActionService" ref="PfpAdActionService" /> 
    </bean>

    <bean id="AdGroupViewAjax" class="com.pchome.akbpfp.struts2.ajax.ad.AdGroupViewAjax" scope="prototype" >
	    <property name="pfpAdGroupService" ref="PfpAdGroupService" /> 
	    <property name="pfpAdActionService" ref="PfpAdActionService" />
    </bean> 
    
	<bean id="AdKeywordViewAjax" class="com.pchome.akbpfp.struts2.ajax.ad.AdKeywordViewAjax" scope="prototype" >
	    <property name="pfpAdKeywordService" ref="PfpAdKeywordService" /> 
    </bean>  
    
    <bean id="AdAdViewAjax" class="com.pchome.akbpfp.struts2.ajax.ad.AdAdViewAjax" scope="prototype" >
	    <property name="jdbcEnvironment" value="${jdbc.driverUrl}" />
	    <property name="pfpAdService" ref="PfpAdService" /> 
    </bean>
    
    <!-- 圖文廣告-多筆網址刊登 -->
    <bean id="AdSearchURLAjax" class="com.pchome.akbpfp.struts2.ajax.ad.AdSearchURLAjax" scope="prototype" >
    	<property name="pfpAdManyURLSearchService" ref="PfpAdManyURLSearchService" />
    	<property name="pfpAdActionService" ref="PfpAdActionService" />
    	<property name="pfpAdGroupService" ref="PfpAdGroupService" />
		<property name="akbPfpServer" value="${akbpfp.server}" />
    </bean>
    <!-- 圖文廣告-多筆網址刊登 END-->
    
    
    <!-- 商品清單 -->
    <bean id="CatalogProdListAjax" class="com.pchome.akbpfp.struts2.ajax.catalog.prodList.CatalogProdListAjax" scope="prototype" >
    	<property name="pfpCatalogService" ref="PfpCatalogService" />
    	<property name="prodListFactory" ref="ProdListFactory" />
    	<property name="accesslogService" ref="AdmAccesslogService" />
    </bean>
    <!-- 商品清單 -->
    
    <!-- 商品群組 -->
    <bean id="CatalogProdGroupAjax" class="com.pchome.akbpfp.struts2.ajax.catalog.prodGroup.CatalogProdGroupAjax" scope="prototype" >
    	<property name="sequenceService" ref="SequenceService" />
    	<property name="pfpCatalogService" ref="PfpCatalogService" />
    	<property name="pfpCatalogGroupService" ref="PfpCatalogGroupService" />
    	<property name="pfpCatalogGroupItemService" ref="PfpCatalogGroupItemService" />
    	<property name="prodGroupFactory" ref="ProdGroupFactory" />
    	<property name="pfpAdService" ref="PfpAdService" />
    	<property name="pfpAdDetailService" ref="PfpAdDetailService" />
    	<property name="accesslogService" ref="AdmAccesslogService" />
    </bean>    
    <!-- 商品群組 -->
    
    <!-- 再行銷追蹤 -->
    <bean id="RetargetingTrackingAjax" class="com.pchome.akbpfp.struts2.ajax.codeManage.remarketingTracking.RetargetingTrackingAjax" scope="prototype">
    	<property name="mailFrom" value="${mail.from}" />
    	<property name="pfpCodeService" ref="PfpCodeService" />
    	<property name="pfpCodeTrackingService" ref="PfpCodeTrackingService" />
    	<property name="admAccesslogService" ref="AdmAccesslogService" />
    	<property name="springEmailUtil" ref="SpringEmailUtil" />
    </bean>
    <!-- 再行銷追蹤 -->
    
    
    
    <!-- 轉換追蹤 -->
    <bean id="ConvertTrackingAjax" class="com.pchome.akbpfp.struts2.ajax.codeManage.convertTracking.ConvertTrackingAjax" scope="prototype">
    	<property name="mailFrom" value="${mail.from}" />
    	<property name="pfpCodeService" ref="PfpCodeService" />
    	<property name="pfpCodeConvertService" ref="PfpCodeConvertService" />
    	<property name="pfpCodeConvertRuleService" ref="PfpCodeConvertRuleService" />
    	<property name="springEmailUtil" ref="SpringEmailUtil" />
    	<property name="sequenceService" ref="SequenceService" />
    	<property name="admAccesslogService" ref="AdmAccesslogService" />
    </bean>
    <!-- 轉換追蹤 -->
    
    
    
</beans>
