<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%class{36}]%M(%L) %msg%xEx%n"/>
        </Console>
        
        <RollingRandomAccessFile name="akbPfpAppender"	immediateFlush="true" fileName="/home/webuser/akb/log/pfp/pfp.log"
			filePattern="/home/webuser/akb/log/pfp/pfp.%d{yyyy-MM-dd}.log.gz">
			<PatternLayout>
				<pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%-5level] [%class{36}]%M(%L) %msg%xEx%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
			</Policies>
			<Filters>
				<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>  
				<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/> 
			</Filters>
		</RollingRandomAccessFile>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="akbPfpAppender" />
        	<appender-ref ref="stdout" />
        </root>
        <logger name="org.hibernate.hql.*" level="error"/>
        <logger name="org.hibernate.annotations.common.reflection.java.JavaReflectionManager" level="warn"/>
        <logger name="org.hibernate.engine.jdbc.internal.LobCreatorBuilder" level="warn"/>
        <logger name="com.opensymphony.xwork2.spring.SpringObjectFactory" level="warn" ref="stdout" />  
        <logger name="org.apache.struts2.spring.StrutsSpringObjectFactory" level="warn" ref="stdout" />
        <logger name="org.springframework.remoting.rmi.RmiServiceExporte" level="warn" ref="stdout" />
        
        
        <!-- 
        
        <logger name="org.springframework.core" level="info"/>
		<logger name="org.springframework.beans" level="info"/>
		<logger name="org.springframework.context" level="info"/>
		<logger name="org.springframework.web" level="info"/>
		 -->
    </loggers>
</configuration>