@charset "utf-8";

html,body, div {	margin: 0;padding: 0;border:0;outline:0;}
body{ background:url(../img/bg.png)}
/*------------------------header------------------------*/
#header{width: 100%;padding:0;margin: 0 ;border:0}
#header-top{width:980px; position: relative;margin:0 auto}
#header-top .logo{position: absolute; left: 1px; top: 15px;}
#header-top .logo4c{position: absolute; left: 128px; top: 16px;}
#header-top .tit{position: absolute;top: 72px;left: 15px;}
#header-top .ad4c{position: absolute; top: 350px;}
#header-top .click{position: absolute; left: 9px; top: 237px;}

#header-top .btnlog,#header-top .btngo{disply: block;width: 200px;height: 50px;position: absolute;}
#header-top .btnlog{background: url(../img/btn_go.png);left: 540px;top: 10px;}
#header-top .btngo{background: url(../img/btn_go.png) 200px 0;left: 750px;top: 10px;}
#header-top a:hover{ background-position-y: -50px;}
	
	
/*------------------- GLOBAL NAVIGATION -------------------*/


.fixed{	position: fixed;top: 0;left: 0;width: 100%;z-index: 998;margin: -51px 0 0 0;}


/*------------------------contents------------------------*/

.container{width: 980px;margin:0 auto;text-align:center;overflow:hidden}
#content {margin:0 auto; background:url(../img/bg_cot.png) no-repeat top center;height:420px;padding-top:85px;}

 .list-c { position: relative; list-style: none; margin: 0; padding: 0 0 0 20px; }
  .list-c li { position: relative; width: 230px; float: left; }
   .list-c li a { position: relative; display: block; height: 255px; padding: 17px 12px 0 107px; background: url(../img/step.png) 0 0 no-repeat; text-decoration: none !important; }
   .list-c li a:hover { top: 3px; }
   .js .list-c li a:hover { top: 0; }
   .list-c li.what-we-do a:hover { background-position: 0 -280px; }
   .list-c li.team a { background-position: 0 -560px;}
   .list-c li.team a:hover {  background-position: 0 -840px;}
   .list-c li.faq a { background-position: 0 -1120px;}
   .list-c li.faq a:hover { background-position: 0 -1400px;}
   .list-c li.faq .more-b { background-position: -50px -272px; }
   .list-c li.contact a { background-position: 0 -1680px;}
   .list-c li.contact a:hover { background-position: 0 -1960px; }


